/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */
.pwa4wp_list{
    margin-left: 4em;
    display: block;
}
.pwa4wp_itemname{
    float: left;
    font-weight: bold;
}
.pwa4wp_field{
    display: block;
    margin-left: 10em ;
}
.pwa4wp_longtext{
    width: 32em;
}
.pwa4wp_midtext{
    width: 20em;
}
.pwa4wp_shorttext{
    width: 12em;
}
.pwa4wp_redalert{
    color: red;
    font-weight: bold;
}
.pwa4wp_red{
    color: red;
}
.pwa4wp_innerlist{
    margin-left: 0em;
}
.pwa4wp_msgArea{
    display: block;
    margin-left: 2em;
    background-color: #ffe8e8;
    padding:2em;

}
.pwa4wp_msgArea li{
    margin-left: 0em;
}
.pwa4wp_status_display{
    font-size: large;
    position: relative;
    margin: 1em;
    padding: 0em;
}
.pwa4wp_status_icon {
    margin-left: 0.5em;
    margin-right: 0.5em;
    display: inline-block;
    position: relative;
    top: 0.2em;
}
.pwa4wp_status_icon img{
    width: 1.2em;
    height: 1.2em;
}
.pwa4wp_submit_button_area{
    display: block;
    margin-left: 4em ;
}
.pwa4wp_submit_button {
    font-size: large;
    position: relative;
    display: inline-block;
    padding: 0.5em 1em;
    margin: 0.25em 0em;
    text-decoration: none;
    color: #FFF;
    background: rgba(170, 170, 170, 0.46);/*背景色*/
    border-bottom: solid 2px #373737;/*少し濃い目の色に*/
    border-radius: 4px;/*角の丸み*/
    box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
    font-weight: bold;
    color: rgba(10, 10, 10, 0.93);
    cursor: pointer;
    cursor: hand;
}

.pwa4wp_submit_button:active {
    border-bottom: solid 2px #666666;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
}
.pwa4wp_square_btn {
    font-size: large;
    position: relative;
    display: inline-block;
    padding: 0.5em 1em;
    margin: 0.25em 0em;
    text-decoration: none;
    color: #FFF;
    background: #fd9535;/*背景色*/
    border-bottom: solid 2px #d27d00;/*少し濃い目の色に*/
    border-radius: 4px;/*角の丸み*/
    box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
    font-weight: bold;
}

.pwa4wp_square_btn:active {
    border-bottom: solid 2px #fd9535;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
}
.pwa4wp_donate_button_area{
    display: block;
    margin-left: 4em ;
}
.pwa4wp_hiddenMsg{
    display: none;
}
.pwa4wp_regextestform{
    display: flow;
    height: 0;
    opacity: 0;
}
.pwa4wp_regexttestinner{
    height: auto;
}